
.map-container {
    height: 700px;
    width: 800px;
    margin: 20px;
}

.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    margin: 12px 30px;
    border-radius: 4px;
}