.map-container {
     height: 700px;
     width: 950px;
     margin: 30px;
     border: 1px;
     border-style: solid;
     border-color: rgb(212, 212, 212);
}

.sidebar {
     background-color: rgb(35 55 75 / 90%);
     color: #fff;
     padding: 6px 12px;
     font-family: monospace;
     z-index: 1;
     position: absolute;
     margin: 12px 30px;
     border-radius: 4px;
}

.profile-footer {
     text-align: center;
     position: fixed;
     inset: auto 0 0 0;
     padding: 1em;
}

.nav-title {
     font-size: 36px !important;
     font-weight: 700;
     font-family: 'Josefin Sans', sans-serif;
}