.profile-footer {
     text-align: center;
     position: fixed;
     inset: auto 0 0 0;
     padding: 1em;
}

.nav-title {
     font-size: 36px !important;
     font-weight: 700;
     font-family: 'Josefin Sans', sans-serif;
}