.pet-post-card {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    margin: 10px;
    border-radius: 25px;
    padding: 25px;
}

.card-text {
    font-size: 20px;
}

.background-red {
    background: rgb(255, 214, 214);
}

.background-green {
    background: rgb(192, 238, 192);
}

.card-img {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
    height: 200px;
    width: 100px;
}