.cat-img {
    height: 100px;
    width: 100px;
}

.i-lost-pet-button,
.i-saw-pet-button {
    margin: 0 20px 20px 20px;
}

.form-div {
    width: 20%;
}
   
.pet-form-map {
    /* width: 100%; */
    display: flex;
    margin-left: 20px;
}
   
.form-div-seen {
    width: 20%;
}