.page-height {
    min-height: 900px;
}

.i-lost-pet-button {
    position: fixed;
    bottom: 140px;
    right: 40px;
    background-color: rgb(226, 0, 0) !important;
}

.i-saw-pet-button {
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: rgb(0, 100, 0) !important;
}

.form-div {
    width: 30%;
}
   
.pet-form-map {
    display: flex;
    margin-left: 20px;
}
   
.form-div-seen {
    width: 20%;
}

.form-div {
    display: flex;
}