.required-asterix {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
}

.species-input,
.sex-input,
.breed-input,
.colours-input,
.message-input,
.upload-img-bttn {
    display: flex;
    flex-direction: column;
}

.form-div2 {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
}

.form-field {
    height: 30px;
}

.message-field {
    height: 80px;
}

.species-options,
.sex-options {
    margin-bottom: 15px;
}

.sorry-greeting {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.under-greeting {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.choose-location-msg {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

.upload-img-bttn {
    width: 200px;
    display: flex;
}

.back-color-lost {
 background-color:  rgb(255, 214, 214);
}

.back-color-seen {
 background-color: rgb(192, 238, 192);
}

.submit-bttn {
    margin-top: 10px;
}

.close-seen-form-button {
    background-color: rgb(192, 238, 192);
    border-style: none;
    float: right;
}

.close-lost-form-button {
    background-color: rgb(255, 214, 214);
    border-style: none;
    float: right;
}

.img-btn-asteriks {
    display: flex;
}

.asterix {
    color: red;
    padding-left: 5px;
}

.counter {
    text-align: right;
}