.filter-div {
    height: 700px;
    width: 50%;
    border: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 30px;
    border-radius: 5px 0 0 5px;
}

.filters-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.form-check-label {
    font-size: 20px;
}

.form-check {
    margin: 5px 15px;
}

@media screen and (max-width: 1250px) {
    .filter-div{
        height: 300px;
        width: 100%;
        border: 1px;
        border-style: solid;
        border-color: rgb(212, 212, 212);
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 30px;
        border-radius: 5px 0 0 5px;
    }
  }